language: java
sudo: false
jdk:
    - oraclejdk8
before_script:
    - chmod +x gradlew
script:
    - "./gradlew check"
    - "./gradlew lintKotlin"
    - "./gradlew jacocoTestReport"
after_success:
    - bash <(curl -s https://codecov.io/bash)
before_cache:
    - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
    - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
    directories:
        - "$HOME/.gradle/caches"
        - "$HOME/.gradle/wrapper"
        - "$HOME/.sonar/cache"
        - "$HOME/.m2/repository"
        - "$HOME/.sonar/cache"
        - "$HOME/.gradle"
        - ".gradle"
env:
    global:
        secure: uCcq/DNTddLYvEUlwsnpYPfA+LR8LA5qi+MdplyQeAuYi5aNsAo5uxGrXjENikI5FFltpfjMdWTbLkiZjqoKjW4n6U0hJvgAyxKJBBGCbmwxn4WgkSBorlBv7epICL+a/m/hwZeDojwQGyNnlcEBAitxJBtb1dL3stmMhZ0/M+qLVREW4ooNZdUtSqNKGai+DPvgW2iqHRU7MCkxkNbkJ/wK0TjG+nLmOKVGS2RRkkjFDCw41Wt9WYraiYrUa1oNFuj7x4LbJxtzhCZwFfW9EzzXSj9/67L+mBArvLRi1my0UIel5mjH7V52erRItaZJ8v9QEpIjFGW0A9/ipgNi7MVcmLZLV5rlDYnx0+G92ZfM7txtN/SoOd7UBmtKjkyZXGZ0qEfLp7rgahykdY5GtvQFgbfsgZPyi2RpS+LUQqH00zgHqxzVGo/0t1nm9K3gR4dTvKdih8wJy99zYvEB1YIzddHg/hN4n9O4iMiLJqRtI71xUlARROkbHV8soBXXat8/8zdzqHeJiof44+L1r+cZqckHyc7uTx5B+GvCXLjcFFLhxhpV2UFh2194q/RgLd483Yx0dYDTwDrkpsQbVPAlC7IS6t2MG6ow/d8dkpwI/63NLEsZQUV8BtWoEliN13ygNX/N8c3wdrNmaU6v5D3bbydph903QepQxHD1Lw8=
